## Import and Export Data using Pandas

In [1]:
import pandas as pd

### Pandas can read many different formats of data
- read_csv
- read_excel
- read_hdf
- read_sql
- read_json
- read_msgpack
- read_html
- read_gbq
- read_stata
- read_sas
- read_clipboard
- read_pickle

In [3]:
df = pd.read_csv('./example.csv')
df

    Name  ID  Age
0   Alan   1   20
1    Bob   2   30
2  Cindy   3   65
3  David   4   33
4  Frank   5   35
5  Green   6   12

### Pandas can also write to many different formats
- to_csv
- to_excel
- to_hdf
- to_sql
- to_json
- to_msgpack
- to_html
- to_gbq
- to_stata
- to_sas
- to_clipboard
- to_pickle

In [4]:
df.to_pickle("./example.pickle")