# 元组不仅仅是不可变的列表 __它还可以用于没有字段名的记录__

- 元组和记录

如果只把元组理解为不可变的列表，那其他信息——它所含有的元素的总数和它们的位 置——似乎就变得可有可无。但是如果把元组当作一些字段的集合，那么数量和位置信息 就变得非常重要了。

In [1]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [2]:
traveler_ids = [('USE', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USE/31195855

In [3]:
for country, _ in traveler_ids:
    print(country)

USE
BRA
ESP

## 元组拆包

一个很优雅的写法当属不使用中间变量交换两个变量的值

In [6]:
a = 1
b = 2
a, b = b, a
print('a =', a, 'b =', b)

a = 2 b = 1

用  __*__  运算符把一个可迭代对象拆开作为函数的参数

In [7]:
divmod(20, 8)

(2, 4)

In [8]:
t = (20, 8)
divmod(*t)

(2, 4)

_ 占位符能帮助处理不总是对元组里所有的数据都感兴趣

In [10]:
import os

_, filename = os.path.split('/Users/yufan/Documents/workspace')
filename

'workspace'

用 __*__ 来处理剩下的元素

In [12]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [13]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [15]:
*head, a, b = range(5)
head, a, b

([0, 1, 2], 3, 4)

In [14]:
a, b, *body, c = range(5)
a, b, body, c

(0, 1, [2, 3], 4)

## 嵌套元组拆包

In [16]:
metro_areas = [
    ('Tokyo',           'JP', 36.933, (35.689722,  139.691667)),
    ('Delhi NCR',       'IN', 21.935, (28.613889,  77.208889)), 
    ('Mexico City',     'MX', 20.142, (19.433333,  -99.133333)), 
    ('New York-Newark', 'US', 20.104, (40.808611,  -74.020386)), 
    ('Sao Paulo',       'BR', 19.649, (-23.547778, -46.635833)),
]

In [18]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## 具名元组

collections.namedtuple 是一个工厂函数，它可以用来构建一个带字段名的元组和一个有名字的类——这个带名字的类对调试程序有很大帮助。

In [23]:
from collections import namedtuple

一个具名元组需要两个参数
- 一个是类名，
- 另一个是类的各个字段的名字。

后者可以是由数个字符串组成的可迭代对象，或者是由空格分隔开的字段名组成的字符串。

In [28]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'Japon', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='Japon', population=36.933, coordinates=(35.689722, 139.691667))

In [26]:
tokyo.name

'Tokyo'

_fields 属性是一个包含这个类所有字段名称的元组。

In [27]:
tokyo._fields

('name', 'country', 'population', 'coordinates')

用 _make() 通过接受一个可迭代对象来生成这个类的一个实例，它的作用跟

` City(*delhi_data) `

 是一样的。

In [29]:
delhi_data = ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=(28.613889, 77.208889))

_asdict() 把具名元组以 collections.OrderedDict 的形式返回，我们可以利用它来把元
 组里的信息友好地呈现出来。

In [30]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', (28.613889, 77.208889))])

In [33]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: (28.613889, 77.208889)