### Import and prepare data

In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range(start="20170101", periods=6)
df = pd.DataFrame(np.arange(24).reshape( (6,4) ), index=dates, columns=["A", "B", "C", "D"])

### Set value for existing data frame
- Set value from index: df . iloc [ *row_index_or_range* , *col_index_or_range* ] = new_value
- Set value from labels: df . loc [ *row_label_or_range* , *col_label_or_range* ] = new_value
- Set value from conditions: df [ *cond* ] = new_value
- Set value for one column on condistion: df . A [ *cond* ] = new_value

In [3]:
df.iloc[2, 2] = 111
df.loc["20170102", "B"] = 2222
df[df.A>12] = 30
df.D[df.A<10] = 987
df.iloc[1:3, 1:3] = 999

In [4]:
df

             A    B    C    D
2017-01-01   0    1    2  987
2017-01-02   4  999  999  987
2017-01-03   8  999  999  987
2017-01-04  12   13   14   15
2017-01-05  30   30   30   30
2017-01-06  30   30   30   30

### Add new column with value

In [5]:
df["E"] = pd.Series(np.arange(6), index=dates)
df["F"] = np.nan

In [6]:
df

             A    B    C    D  E   F
2017-01-01   0    1    2  987  0 NaN
2017-01-02   4  999  999  987  1 NaN
2017-01-03   8  999  999  987  2 NaN
2017-01-04  12   13   14   15  3 NaN
2017-01-05  30   30   30   30  4 NaN
2017-01-06  30   30   30   30  5 NaN